body {
    background-color: azure;
}

.app-container {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 700px;
}

.my_dice-title {
    height: 40px;
}

.card-container {
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
}

.my_txt-green {
    color: green;
}

.my_txt-red {
    color: red;
}

.my_bg-yellow {
    background-color: gold;
}

.my_bg-cyan {
    background-color: cyan;
}