body {
    background-color: grey;
}

.app-container {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 700px;
}

.my_dice-title {
    height: 40px;
}

.my_dice {
    width: 80px;
}

.card-container {
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-container {
    width: 100px;
    height: 80px;
}

.my_txt-green {
    color: green;
}

.my_txt-red {
    color: red;
}

.my_bg-yellow {
    background-color: gold;
}

.my_bg-cyan {
    background-color: cyan;
}